<table class="table bg-white">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= sortable "name" %></th>
      <th scope="col">City</th>
      <th scope="col">Founded</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.city %></td>
      <td><%= team.year %></td>
      <td>
        <%= link_to 'Show', team, class: "btn btn-sm btn-outline-info" %>
        <%= link_to 'Edit', edit_team_path(team), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
