<div class="row">
<% @leagues.each do |league| %>
  <div class="col-md-4 d-flex align-items-stretch">
    <div class="card mb-4 box-shadow">
      <% if league.logo.exists? %>
        <%= image_tag(league.logo.url(:large), class: "card-img-top") %>
      <% else %>
        <%= holder_tag '600x600', league.name, 'sky', { class: 'card-img-top' }, { auto: 'yes' } %>
      <% end %>

      <div class="card-body">
        <h4><%= link_to league.name, league, class: "text-dark" %></h4>
        <p class="card-text text-muted"><%= league.country %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <%= link_to 'Edit', edit_league_path(league), class: "btn btn-sm btn-outline-primary" %>
            <%= link_to 'Delete', league, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
