<div class="row">
<% @players.each do |player| %>
  <div class="col-md-4 d-flex align-items-stretch">
    <div class="card mb-4 box-shadow">
      <% if player.image.exists? %>
        <%= image_tag(player.image.url(:large), class: "card-img-top") %>
      <% else %>
        <%= holder_tag '600x600', player.name + " " + player.surname, 'sky', { class: 'card-img-top' }, { auto: 'yes' } %>
      <% end %>

      <div class="card-body">
        <h4><%= link_to player.name + " " + player.surname, player, class: "text-dark" %></h4>
        <p class="card-text text-muted"><%= player.position %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <%= link_to 'Edit', edit_player_path(player), class: "btn btn-sm btn-outline-primary" %>
            <%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
