<table class="table bg-white">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Team</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td><%= player.fullname %></td>
      <td><%= player.position %></td>
      <td><%= link_to player.team_name, player.team, class: "text-dark" %></td>
      <td>
        <%= link_to 'Show', player, class: "btn btn-sm btn-outline-info" %>
        <%= link_to 'Edit', edit_player_path(player), class: "btn btn-sm btn-outline-primary" %>
        <%= link_to 'Delete', player, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
