<div class="album py-5">
  <div class="container">

    <% if notice %>
      <p id="notice" class="alert alert-success"><%= notice %></p>
    <% end %>

    <div class="d-flex justify-content-between align-items-center mb-4">
      <%= link_to 'Add player', new_player_path, { :class=>"btn btn-primary" } %>

      <div class="text-nowrap pl-3 view-opt d-flex">
        <% if @display == 'table' %>
          <%= link_to material_icon.view_module.md_24, players_path(:q => @search, :d => "grid"), class: "btn btn-sm btn-light mr-2 rounded text-muted" %>
          <%= material_icon.view_list.md_24.css_class('btn btn-sm btn-light mr-2 rounded active text-muted') %>
        <% else %>
          <%= material_icon.view_module.md_24.css_class('btn btn-sm btn-light mr-2 rounded active text-muted') %>
          <%= link_to material_icon.view_list.md_24, players_path(:q => @search, :d => "table"), class: "btn btn-sm btn-light mr-2 rounded text-muted" %>
        <% end %>
        <%= form_tag(players_path, method: :get) do %>
          <div class="input-group d-flex">
            <%= text_field_tag :q, params[:q], class: "form-control" %>
            <div class="input-group-append search-opt">
              <%= button_tag(type: 'submit', name: nil, class: "btn btn-primary") do %>
                <%= material_icon.search %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <% if @display == 'table' %>
      <%= render 'table', player: @player %>
    <% else %>
      <%= render 'grid', player: @player %>
    <% end %>

    <% if @players.first.nil? %>
      <div class="alert alert-secondary" role="alert">
      No results...
      </div>
    <% end %>


  </div>
</div>
