<div class="py-5">

  <% if notice %>
    <p id="notice" class="alert alert-success"><%= notice %></p>
  <% end %>

  <div class="row">

   <div class="col-md-6 mb-5">
     <% if @player.image.exists? %>
       <%= image_tag @player.image.url(:large), class: "img-fluid border rounded" %>
     <% else %>
       <%= holder_tag '600x600', @player.name, 'sky', { class: 'img-fluid border rounded' }, { auto: 'yes' } %>
     <% end %>
   </div>
   <div class="col-md-6">
     <h2><%= @player.name + " " + @player.surname %></h2>
     <table class="table table-hover">
       <tbody>
         <tr>
           <th scope="row">Date of Birth</th>
           <td class="text-right"><%= @player.born %></td>
         </tr>
         <tr>
           <th scope="row">Country</th>
           <td class="text-right"><%= @player.country_name %></td>
         </tr>
         <tr>
           <th scope="row">Position</th>
           <td class="text-right"><%= @player.position %></td>
         </tr>
         <% if @player.team %>
         <tr>
            <th scope="row">Club</th>
            <td class="text-right"><%= link_to @player.team_name, @player.team %></td>
          </tr>
          <% end %>
       </tbody>
     </table>
     <%= link_to "Edit", edit_player_path(@player), class: "btn btn-outline-primary" %>
     <%= link_to 'Delete', @player, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
   </div>
  </div>
</div>
